25083 : 새싹

In [2]:
print("         ,r'\"7")
print("r`-_   ,'  ,/")
print(" \. \". L_r'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

3003 : 킹, 퀸, 룩, 비숍, 나이트, 폰

In [5]:
king, queen, rook, bishop, knight, pawn = map(int, input().split())
# 1, 1, 2, 2, 2, 8
print(1-king, 1-queen, 2-rook, 2-bishop, 2-knight, 8-pawn)

-1 0 0 1 0 7

2444 : 별 찍기 - 7

In [13]:
N = int(input())
A = 2*N-1
for i in range(A):
    if (i<=A//2):
        print(' '*((A-(2*i+1))//2) + '*'*(2*i+1))
    else:
        print(' '*(((2*i+1)-A)//2) + '*'*(A-2*(i-(A//2))))

   *
  ***
 *****
*******
 *****
  ***
   *

10988 : 팰린드롬인지 확인하기

In [15]:
s = input()
r = s[::-1]
if (s==r):
    print('1')
else:
    print('0')

0

1157 : 단어 공부

In [45]:
S = input()
S = S.upper()
setS = set(S)
setS = list(setS)
M = 0
# print(setS)
for i in setS:
    if (S.count(i)>M):
        M = S.count(i)
        Maxalphabet = i
        N = 0
    elif (S.count(i)==M):
        N = '?'
if (N == '?'):
    print(N)
else:
    print(Maxalphabet)

C

2941 : 크로아티아 알파벳

In [63]:
S = input()
S = S.replace('c=', '1')
S = S.replace('c-', '2')
S = S.replace('dz=', '3')
S = S.replace('d-', '4')
S = S.replace('lj', '5')
S = S.replace('nj', '6')
S = S.replace('s=', '7')
S = S.replace('z=', '8')
print(len(S))

3

1316 : 그룹 단어 체커

In [83]:
N = int(input())
G = N
for i in range(N):
    name = input()
    for j in range(len(name)-1):
        if name[j] == name[j+1]:
            pass
        elif name[j] in name[j+1:]:
            G -= 1
            break
print(G)

3

25206 : 너의 평점은

In [73]:
T = 0
TP = 0
for i in range(20):
    name, point, grade = map(str, input().split())
    point = float(point)
    if (grade == 'A+'):
        T += point*(4.5)
        TP += point
    elif (grade == 'A0'):
        T += point*(4.0)
        TP += point
    elif (grade == 'B+'):
        T += point*(3.5)
        TP += point
    elif (grade == 'B0'):
        T += point*(3.0)
        TP += point
    elif (grade == 'C+'):
        T += point*(2.5)
        TP += point
    elif (grade == 'C0'):
        T += point*(2.0)
        TP += point
    elif (grade == 'D+'):
        T += point*(1.5)
        TP += point
    elif (grade == 'D0'):
        T += point*(1.0)
        TP += point
    elif (grade == 'F'):
        T += point*(0.0)
        TP += point
    else:
        pass

print(T/TP)

3.2844827586206895